html {
  background-color: #1b1b1b;
  color: #fff;
  font-family: sans-serif;
}
button,
input,
textarea {
  background-color: #333333;
  color: #ffffff;
}
body {
  padding: 0 2rem;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hide {
  display: none;
}
.btn {
  padding: 0.5rem;
  cursor: pointer;
  line-height: 1;
}
.filters button {
  background: none;
  color: rgb(157, 157, 157);
  border: 1px solid gray;
  padding-bottom: 0.4rem;
}
.filters button[aria-pressed='true'] {
  /* background: lightblue; */
  border-color: lightblue;
  color: lightblue;
  text-decoration: none;
}
.filters button:first-child {
  border-radius: 0.5rem 0 0 0.5rem;
  /* border-right: none; */
}
.filters button:last-child {
  border-radius: 0 0.5rem 0.5rem 0;
  /* border-left: none; */
}
form {
  border: 1px gray solid;
  border-radius: 0.5rem;
  position: relative;
  padding: 1.25rem;
  padding-bottom: 0;
}
form.isEditing {
  border: 1px lightblue outset;
  outline: 1px lightblue solid;
}
.input {
  background-color: initial;
  resize: none;
  overflow: hidden;
  border: none;
  box-sizing: border-box;
  line-height: 1;
  padding: 0;
  flex-grow: 1;
}
.input:focus {
  border: none;
  outline: none;
}
form > .input {
  width: 100%;
}
input[type='checkbox'] {
  -webkit-appearance: none;
  appearance: none;
  background-color: initial;
  width: 1.15rem;
  height: 1.15rem;
  border: 1px solid lightblue;
  border-radius: 0.15rem;
  transform: translateY(-0.075rem);
  display: grid;
  place-content: center;
  cursor: pointer;
}
input[type='checkbox']:checked {
  border-color: gray;
}
input[type='checkbox']::before {
  content: '';
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em gray;
  background-color: initial;
}
input[type='checkbox']:checked::before {
  transform: scale(1);
}
input[type='checkbox']:focus {
  outline: max(2px, 0.15em) solid lightblue;
  outline-offset: max(2px, 0.15em);
}
input[type='checkbox']:disabled {
  color: #959495;
  cursor: not-allowed;
}
input[type='checkbox']:checked, .done {
  color: rgb(157, 157, 157);
  text-decoration: line-through;
}

form ul,
.task ul {
  padding: 0;
  margin: 0;
}
form li + li {
  margin-top: 0.5rem;
}
form .btn-group {
  display: flex;
  visibility: hidden;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
li.task:hover form .btn-group {
  visibility: initial;
}
form .btn-group button {
  color: lightblue;
  background-color: initial;
  border: initial;
  margin-right: 1rem;
}
form .btn-group button:hover,
form .btn-group button:focus {
  background-color: #ffffff1b;
}
.btn__icon {
  width: 2rem;
  height: 2rem;
  padding: initial;
  border: initial;
  background-color: initial;
}
.btn__icon:hover,
.btn__icon:focus {
  border-radius: 100%;
}
.btn__icon img {
  padding: 0.5rem;
}
.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}
main > ul,
.task li {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.task li {
  align-items: center
}
main > ul {
  padding: 0;
}
.task {
  width: auto;
  height: fit-content;
  max-width: 24rem;
  list-style-type: none;
  cursor: move;
}
li.moving:focus-visible {
  outline: 2px dashed red;
}
#new-task {
  background-color: rgba(173, 216, 230, 0.05);
  border-color: lightblue;
}
.list-controls {
  display: flex;
  gap: 0.5rem;
  margin-left: -0.625rem;
}
.btn__drag,
.btn__close {
  width: auto;
  height: 1rem;
  cursor: grab;
  color: lightblue;
  display: flex;
  opacity: 0;
}
.btn__close {
  cursor: pointer;
}
.task li:hover .btn__icon {
  opacity: 1;
}
