html {
  background-color: #1b1b1b;
  color: #fff;
  font-family: sans-serif;
}
button,
input,
textarea {
  background-color: #333333;
  color: #ffffff;
}
body {
  max-width: 1600px;
  padding: 0 1em;
}
#controls {
  max-width: 40em;
  margin: 0 auto;
}
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn {
  padding: 0.5rem;
  cursor: pointer;
  line-height: 1;
}
.filters button {
  background: none;
  color: lightblue;
  border: 1px solid darkgray;
}
.filters button[aria-pressed='true'] {
  background: lightblue;
  color: #1b1b1b;
  text-decoration: none;
}
.filters button:first-child {
  border-radius: 0.5rem 0 0 0.5rem;
}
.filters button:last-child {
  border-radius: 0 0.5rem 0.5rem 0;
}
form,
.task-view {
  margin-top: 1rem;
  border: 1px lightgrey solid;
  border-radius: 0.5rem;
  position: relative;
  padding: 1rem;
}
form:focus-within,
.task-view:focus-within {
  border: 1px lightblue outset;
  outline: 1px lightblue solid;
  padding-bottom: 0;
}
form:focus-within .btn-group {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.input {
  background-color: initial;
  width: 100%;
  resize: none;
  overflow: hidden;
  min-height: 1rem;
  border: none;
  box-sizing: border-box;
  line-height: 1;
  padding: 0;
}
.input:focus {
  border: none;
  outline: none;
}
input[type='checkbox'] {
  -webkit-appearance: none;
  appearance: none;
  background-color: initial;
  width: 1.15rem;
  height: 1.15rem;
  border: 1px solid lightblue;
  border-radius: 0.15rem;
  transform: translateY(-0.075rem);
  display: grid;
  place-content: center;
}
input[type='checkbox']:checked {
  border-color: lightgray;
}
input[type='checkbox']::before {
  content: '';
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em lightgray;
  background-color: initial;
}
input[type='checkbox']:checked::before {
  transform: scale(1);
}
input[type='checkbox']:focus {
  outline: max(2px, 0.15em) solid lightblue;
  outline-offset: max(2px, 0.15em);
}
input[type='checkbox']:disabled {
  color: #959495;
  cursor: not-allowed;
}
input[type='checkbox']:checked + textarea {
  color: lightgray;
  text-decoration: line-through;
}

form ul {
  padding: 0;
  margin: 0;
}
form li {
  display: flex;
}
form li + li {
  margin-top: 0.5rem;
}
form li input {
  margin-right: 1rem;
}
form .btn-group {
  display: flex;
}
form .btn-group button {
  color: lightblue;
  background-color: initial;
  border: initial;
  margin-right: 1rem;
}
form .btn-group button:hover,
form .btn-group button:focus {
  background-color: #ffffff1b;
}
.btn__icon {
  width: 2rem;
  height: 2rem;
  padding: initial;
  border: initial;
  background-color: initial;
}
.btn__icon:hover,
.btn__icon:focus {
  border-radius: 100%;
}
.btn__icon svg {
  fill: lightblue;
  padding: 0.5rem;
}
.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}
.stack-exception {
  margin-top: 1.2rem;
}
.task-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
}
.task {
  margin: 1em;
  width: 24rem;
  max-width: 100%;
}
.task-label > * {
  margin-top: 0;
}
.task-text {
  width: 100%;
  min-height: 4.4rem;
  padding: 0.4rem 0.8rem;
  border: 2px solid #565656;
}
